<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Productos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .lazy-load {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .lazy-load.visible {
            opacity: 1;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-3xl font-bold">Editar Productos</h1>
            <a href="/cerrar_sesion">
                <button class="bg-red-500 text-white font-bold p-2 px-4 rounded-full">Cerrar</button>
            </a>
        </div>
        <ul id="product-list" class="grid grid-cols-1 gap-4">
            {% for producto in productos %}
            <li class="bg-white p-4 rounded-lg shadow flex items-center lazy-load">
                <img src="{{ url_for('static', filename='archivos/' + producto.imagen_producto.split('/')[-1]) }}" alt="{{ producto.nombre_producto }}" class="w-16 h-16 rounded mr-4">
                <div class="flex-1">
                    <h2 class="text-xl font-bold">{{ producto.nombre_producto }}</h2>
                    <p class="text-gray-600">Precio: {{ producto.precio_producto }}</p>
                </div>
                <a href="{{ url_for('editar_producto', producto_id=producto.id) }}" class="bg-blue-500 text-white px-3 py-2 rounded-full">Editar</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const lazyLoadElements = document.querySelectorAll('.lazy-load');

            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('visible');
                        observer.unobserve(entry.target);
                    }
                });
            }, { threshold: 0.1 });

            lazyLoadElements.forEach(element => {
                observer.observe(element);
            });
        });
    </script>
</body>

</html>
