<div class="mt-7">
    <h1 class="font-bold text-xl mb-2">
        Descripción del Producto
    </h1>
    <p class="mb-3">
        {{ producto['descripcion'] }}
    </p>
    <h1 class="font-bold mt-5 text-xl mb-2">Características del Producto</h1>
    <table class="w-full text-left text-gray-700">

        <tbody>
            {% for detalle in producto['detalles_adicionales'] %}
            <tr class="border-b">
                <th class="py-2">{{ detalle['detalle'] }}</th>
                <td class="py-2">{{ detalle['valor'] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>