<div class="p-3 xl:px-32">
    <div class="bg-white pt-[140px] pb-[20px]">
        <h1 class="text-3xl font-bold text-black mb-4">Envíos Rápidos</h1>
        <p class="text-gray-700 mb-4">
            Entendemos que a veces necesitas recibir tus productos lo más pronto posible. Por eso, ofrecemos un servicio de envíos rápidos que garantiza que tu pedido llegue al día siguiente. Este servicio tiene un costo adicional de 15,000 pesos colombianos sobre el precio total de tu compra.
        </p>
        <p class="text-gray-700 mb-4">
            Al elegir la opción de envío rápido, tu pedido será procesado de manera prioritaria y se despachará el mismo día de la compra. Esto asegura que puedas tener tus productos en tus manos al día siguiente, sin retrasos y con la máxima eficiencia.
        </p>
        <h2 class="text-2xl font-bold text-black mb-3">Beneficios del Envío Rápido</h2>
        <p class="text-gray-700 mb-4">
            Optar por el envío rápido te brinda múltiples ventajas:
        </p>
        <ul class="list-disc list-inside text-gray-700 mb-4">
            <li>Entrega prioritaria de tus productos.</li>
            <li>Conveniencia y rapidez para aquellos momentos en que necesitas tus compras con urgencia.</li>
            <li>Tranquilidad al saber que recibirás tu pedido al día siguiente.</li>
        </ul>
        <p class="text-gray-700 mb-4">
            Ten en cuenta que todo el proceso de selección del envío rápido se realiza a través de nuestro chat de WhatsApp. Una vez que hayas seleccionado tus productos y hecho clic en el botón de "Comprar Ahora", serás redirigido a una conversación con nuestro equipo de compras en WhatsApp. Allí, te ofreceremos la opción de envío rápido, y podrás decidir si deseas aplicarlo a tu compra.
        </p>
        <p class="text-gray-700 mb-4">
            Nuestro equipo de WhatsApp te proporcionará el total de tu compra, tanto con el costo adicional del envío rápido como sin él, y te indicará los pasos a seguir para completar el pago.
        </p>
        <p class="text-gray-700 mb-4">
            Si tienes alguna pregunta sobre nuestro servicio de envíos rápidos, no dudes en contactarnos. Estamos aquí para asegurarnos de que tu experiencia de compra sea rápida y sin complicaciones.
        </p>
        <p class="text-center mt-6">
            {% include 'components/btn_whatsapp.html' %}
        </p>
    </div>
</div>