<div class="p-3 xl:px-32">
    <div class="bg-white pt-[140px] pb-[20px]">
        <h1 class="text-3xl font-bold text-black mb-4">Peticiones, Quejas y Reclamos</h1>
        <p class="text-gray-700 mb-4">
            Agradecemos que nos hayas contactado para resolver cualquier problema relacionado con nuestros productos o
            servicios. Nos comprometemos a atender todas tus peticiones, quejas y reclamos con la mayor rapidez y
            eficiencia posible.
        </p>
        <p class="text-gray-700 mb-4">
            Por favor, ten un poco de paciencia mientras revisamos tu solicitud. Nuestro equipo está trabajando
            arduamente para ofrecerte la mejor atención y resolver cualquier inconveniente que puedas tener.
        </p>
        <h2 class="text-2xl font-bold text-black mb-3">Contacto por WhatsApp</h2>
        <p class="text-gray-700 mb-4">
            Para facilitar el proceso, te invitamos a que nos contactes directamente a través de WhatsApp. De esta
            manera, podremos ofrecerte una atención más rápida y personalizada. Haz clic en el botón a continuación para
            iniciar una conversación con nuestro equipo de soporte.
        </p>
        <ul class="list-disc list-inside text-gray-700 mb-4">
            <li>Explícanos detalladamente el motivo de tu petición, queja o reclamo.</li>
            <li>Incluye cualquier información relevante que pueda ayudarnos a resolver tu problema.</li>
            <li>Nos aseguraremos de responderte lo antes posible.</li>
        </ul>
        <p class="text-center mt-6">
            {% include 'components/btn_whatsapp.html' %}
        </p>
    </div>
</div>