<div class="p-3 xl:px-32">
    <div class="bg-white pt-[140px] pb-[20px]">
        <h1 class="text-3xl font-bold text-black mb-4">Nuestros Servicios</h1>
        <p class="text-gray-700 mb-4">
            Bienvenidos a nuestra tienda de zapatos para niños y niñas, donde nos enorgullece ofrecerte los mejores
            productos y servicios del mercado. Estamos comprometidos con la calidad y la satisfacción de nuestros
            clientes, asegurándonos de que cada par de zapatos cumpla con los más altos estándares.
        </p>
        <p class="text-gray-700 mb-4">
            Nuestros zapatos están diseñados con los materiales más duraderos y cómodos, garantizando que tus pequeños
            puedan disfrutar de su día a día con estilo y confort. Cada diseño es cuidadosamente elaborado para
            proporcionar el mejor soporte y protección para los pies en crecimiento de tus hijos.
        </p>
        <h2 class="text-2xl font-bold text-black mb-3">Envíos a Toda Colombia</h2>
        <p class="text-gray-700 mb-4">
            Sabemos lo importante que es recibir tus productos de manera rápida y segura. Por eso, realizamos envíos a
            toda Colombia, asegurando que tus pedidos lleguen en perfectas condiciones y en el menor tiempo posible.
            Desde ciudades principales hasta las zonas más remotas, nos encargamos de que tus compras lleguen a tu
            puerta.
        </p>
        <h2 class="text-2xl font-bold text-black mb-3">Calidad Insuperable</h2>
        <p class="text-gray-700 mb-4">
            Nos distinguimos por ofrecer zapatos de la mejor calidad que existe en el mercado. Cada par es el resultado
            de un riguroso proceso de selección y control de calidad. Utilizamos los mejores materiales y técnicas de
            fabricación para garantizar que nuestros productos sean duraderos, cómodos y, sobre todo, seguros para los
            pies de tus hijos.
        </p>
        <h2 class="text-2xl font-bold text-black mb-3">Compromiso con Nuestros Clientes</h2>
        <p class="text-gray-700 mb-4">
            Nos importa cada detalle de tu experiencia de compra. Desde la elección del modelo perfecto hasta el momento
            en que tus hijos se ponen sus nuevos zapatos, estamos aquí para ayudarte en cada paso del camino. Nuestro
            equipo de atención al cliente está siempre disponible para responder tus preguntas y ofrecerte el mejor
            servicio posible.
        </p>
        <p class="text-gray-700 mb-4">
            Gracias por confiar en nosotros. Estamos dedicados a brindar productos excepcionales y un servicio
            incomparable para ti y tus pequeños. Si tienes alguna pregunta o necesitas asistencia, no dudes en
            contactarnos.
        </p>
        <p class="text-center mt-6">
            {% include 'components/btn_whatsapp.html' %}
        </p>

    </div>
</div>