<div class="bg-[#0cc0df] pt-[120px] flex justify-center">
    <img class="sm:w-[80%] md:w-[60%] lg:w-[47%] xl:w-[40%]"
    src="https://dyt.pythonanywhere.com/static/img/descuentos.png" alt="">
</div>

<div
    class="bg-[#0cc0df] pb-[20px] px-3 grid grid-cols-1 sm:grid-cols-2 gap-4 justify-center items-center lg:grid-cols-3 lg:gap-4 lg:justify-start lg:items-start xl:px-[110px]">
    <div class="flex items-center justify-between bg-white px-5 py-4 rounded-[30px]">
        <div>
            <h1 class="font-bold text-3xl mr-2 sm:text-2xl">¡Gran Oferta!</h1>
            <h2>hasta 30% OFF</h2>
        </div>
        <img class="w-[130px]" src="https://img.freepik.com/vector-premium/30-ciento-descuento-banner-vector_116137-1373.jpg"
            alt="">
    </div>
    <div class="flex items-center justify-between bg-white px-5 py-4 rounded-[30px]">
        <div>
            <h1 class="font-bold text-3xl mr-2 sm:text-2xl">Envío Gratis</h1>
            <h2>Eres libre :)</h2>
        </div>
        <img class="w-[130px]" src="https://static.vecteezy.com/system/resources/previews/007/126/366/non_2x/free-shipping-delivery-truck-icon-vector.jpg"
            alt="">
    </div>
    <div
        class="flex items-center justify-between bg-white px-5 py-4 rounded-[30px] col-span-1 sm:col-span-2 lg:col-span-1">
        <div>
            <h1 class="font-bold text-3xl mr-2 sm:text-2xl">¡Compra Ya!</h1>
            <h2>¡Aprovecha Ahora!</h2>
        </div>
        <img class="w-[130px]" src="https://png.pngtree.com/png-clipart/20231001/original/pngtree-girl-with-shopping-bags-in-market-vector-png-image_13218817.png"
            alt="">
    </div>
</div>