<link rel="stylesheet" href="{{ url_for('static', filename='css/bienvenida.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cabecera.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_buscar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu_mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/section.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/floatMenu_aside.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/d&t_icon.png') }}" type="image/png">
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>