<div class="menu_mobile" id="menu_mobile">
    <div>
        <header>
            <h2>Menú</h2>
            <button onclick="ocultarDiv('menu_mobile')">
                <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABUUlEQVR4nO3ZsUoDQRDG8X+ZTss8ho3tNhffILCNz+BbKFjaWIt2Yi2IvU8kaQyJCBsIYe9MbnZn9mA+uHY2P3KXm4+Ax+PxeBrMDLgDXoHO4PzLdPYDcC4ZdAts0/UDRPTSAau9858kw972BmliugPE3/UlGXiVPrwmpssgNsC1dPAyg1mXGJxJAL4ziJtSB2hgqiM0MGqImhh1RA2MGaIkxhxRAtMMQoJpDjEG0yziFEzziGMwk0HsEnt2s9WUEEPfzOQQ/2EmhehbxXfPjGY5EyX3YGtUAJVStDZqmqMy9BOrWc5EOeY90TwmnPCyaxYTRryxm8MEwdrRDCYU2J3MMaHgAmiGCRW2WHVMqLiKq2GCQp+ojtEsRctamAuDUhR7ytlCMvTZqE/EDOZTMvDesBTFA8yLZNgZ8Ah8pPtXOwvgPf1bNTc43+PxeDwM5hdwYmtTauYzRQAAAABJRU5ErkJggg==">
            </button>
        </header>
        <ul>
            <li><a href="search?q=para+hombres"><strong>Para Hombres</strong></a></li>
            <li><a href="search?q=para+mujeres"><strong>Para Mujeres</strong></a></li>
            <li><a href="search?q=para+niños"><strong>Para Niños</strong></a></li>
            <li><a href="search?q=zapatos+deportivos"><strong>Zapatos deportivos</strong></a></li>
            <li><a href="search?q=zapatos+casuales"><strong>Zapatos casuales</strong></a></li>
            <li><a href="search?q=zapatos+cómodos"><strong>Zapatos cómodos</strong></a></li>
            <li><a href="search?q=botas"><strong>Botas</strong></a></li>
            <li><a href="search?q=sandalias"><strong>Sandalias</strong></a></li>
        </ul>
    </div>
</div>